@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Here you can find all the provinces and cities in Canada and USA</p>
    <h3>I am Anh Nguyen - Student ID: A01282003 </h3>
</div>
